.vscode/ipch/2249afc40948f170/glist.ipch
.vscode/ipch/2249afc40948f170/mmap_address.bin
.vscode/ipch/8eae3e09f568e0c1/mapfilter.ipch
.vscode/ipch/8eae3e09f568e0c1/mmap_address.bin
.vscode/ipch/a9c16c6cf69a2488/generador.ipch
.vscode/ipch/a9c16c6cf69a2488/mmap_address.bin
generador
glist.o
mapfilter
